%h2= t('.check_out', :title => @copy.title)
%hr

- if @copy.available?
  -# check why reload is necessary
  = render :partial => 'check_out', :locals => { :order => @order }
- else
  = render :partial => 'check_in', :locals => { :order => @order.reload }
%hr
= render :partial => 'copy', :object => @copy
