body {
  padding: 60px
}


#filters {
  hr {
    margin-bottom: 0
  }
}

#books .books.list {
  tr {
    td.reserve .reserved {
      color: #46A546;
    }
    td.reserve .none {
      color: #C43C35;
    }
    .btn.small {
      white-space: normal;
      display: block;
      margin: 0 5px 5px 0;
      padding: 2px 4px;
      float: left;
      &:hover {
        color: #FFF;
        text-decoration: none;
      }
    }
  }

  th.available, td.available {
    width: 18%;
  }
  th.unavailable, td.unavailable {
    width: 18%;
  }

  th.title, td.title {
    width: 20%;
  }
  th.author, td.author {
    width: 15%;
  }
}

#borrow-book {
  hr {
    margin: 10px 0 9px 0;
  }
  #accordion {
    border-bottom: 1px solid #DDD;
    margin-bottom: 15px;
    a.ui-accordion-header {
      font-weight: bold;
      display: block;
      border-top: 1px solid #DDD;
      padding: 10px 5px;
    }
  }
}

#edit-book {
}

#facebox {
  .popup {
    width: 510px;
  }

  .content {
    width: 470px;
    padding: 20px;
  }

}

.alert-message .close {
  font-size: 14px;
}

.form-stacked {
  padding-left: 0;
}

form#check-out {
  hr {
    margin: 10px 0 9px 0
  }
  .user-actions {
    text-align: right;
    .btn.small {
      padding: 4px 6px;
    }
  }
  .remove-user:hover {
    text-decoration: none;
    color: #FFF;
  }
}

form.check-in .error {
  display: block;
}

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em; }
  .disabled {
    color: #aaaaaa; }
  .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
    &:hover, &:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; } }
  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .previous_page, .next_page {
    border-width: 2px; }
  .previous_page {
    margin-right: 1em; }
  .next_page {
    margin-left: 1em; } }


