body {
  padding: 60px
}

#books .books.list {
  tr {
    .label {
      white-space: normal;
      display: block;
      margin: 0 5px 5px 0;
      float: left;
      &:hover {
        color: #FFF;
        text-decoration: none;
      }
    }
  }

  th.available, td.available {
    width: 18%;
  }
  th.unavailable, td.unavailable {
    width: 18%;
  }

  th.title, td.title {
    width: 20%;
  }
  th.author, td.author {
    width: 15%;
  }
}

#facebox {
  .popup {
    width: 540px;
  }

  .content {
    width: 500px;
    padding: 20px;
  }

}

.alert-message .close {
  font-size: 14px;
}

.form-stacked {
  padding-left: 0;
}

#new-order .submit {
  padding-top: 19px;
}

form.check-in .error {
  display: block;
}

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em; }
  .disabled {
    color: #aaaaaa; }
  .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none;
    &:hover, &:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; } }
  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .previous_page, .next_page {
    border-width: 2px; }
  .previous_page {
    margin-right: 1em; }
  .next_page {
    margin-left: 1em; } }


